<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] - AdminLTE</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/pace/pace.min.css">
    <link rel="stylesheet" href="~/adminlte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/adminlte/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/SansPro.css" rel="stylesheet" />

    <link href="~/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/DataTables/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>

<body class="hold-transition skin-green fixed sidebar-mini">
    <div class="wrapper">
        @RenderBody()
        <partial name="~/Views/UIComponents/_MediumModal.cshtml" />
        <partial name="~/Views/UIComponents/_BigModal.cshtml" />
        <partial name="_AdminlteFooter" />
    </div>

    <script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/adminlte/components/PACE/pace.min.js"></script>

    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/DataTables/datatables.js"></script>
    <script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/DataTables/buttons.dataTables.js"></script>

    <script src="~/DataTables/Export/pdfmake-0.1.36/pdfmake.js"></script>
    <script src="~/DataTables/Export/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/DataTables/Export/Buttons-1.6.5/js/buttons.html5.min.js"></script>
    <script src="~/DataTables/Export/Buttons-1.6.5/js/buttons.print.min.js"></script>

    <script src="~/scripts/jquery.validate.min.js"></script>

    <link href="~/adminlte/components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/adminlte/components/select2/dist/js/select2.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
