

@{
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">

            </div>

            <ul class="sidebar-menu" data-widget="tree">
            </ul>
        </section>
    </aside>
}

<script src="~/js/Item/Item_CRUD.js"></script>
<script src="~/js/CustomerInfo/CustomerInfo_CRUD.js"></script>